{% extends 'base.html' %}

 {% block content %}


 <div class="create_task h-full flex justify-center items-center flex-col">
    <p  class="text-xl font-bold text-center my-5">Create new task</p  class="text-xl font-bold">

        <form method="POST" class="" >  
            <div class="w-screen ">
                {% csrf_token %}  
                <div class="w-full px-5 h-[150px] overflow-x-scroll flex md:justify-center">
                <table  class="">  
                    {{ form.as_table }}          
                </table>  
                </div>
            </div>
                <button class="primary-button bg-[#8f66dd] text-white mx-auto my-5" type="submit" name="submit" >Create</button>
            </form>

 </div>

 
 {% endblock content %}
