
{% extends 'base.html' %}

{% block meta %}
<title>Login Akun</title>
{% endblock meta %}

 {% block content %}
 <div class = "container-form w-auto" >

    <h1 class="title-form">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="">
            <tr>
                <td class="input-title">Username </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
            
            <tr>
                <td class="input-title">Password </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
            
        </table>
        <button class="primary-button bg-[#8f66dd] text-white button-full mx-auto my-4" type="submit" >Login</button>
        
    </form>

        
    <p>
        Belum mempunyai akun? <button class="secondary-button mx-auto my-4" onclick="location.href=`{% url 'todolist:register' %}`">Buat Akun</button>
    </p> 

</div>

 
 {% endblock content %}
