
{% extends 'base.html' %}

{% block meta %}
<title>Register Akun</title>
{% endblock meta %}

 {% block content %}
 
 <div class = "register-container">
    
    <h1 class="title-form">Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                </tr>  
            </table>  
            <button class="button-full mx-auto" type="submit" >Daftar</button>
        </form>


</div>  


 
 {% endblock content %}
