
{% extends 'base.html' %}

{% block meta %}
<title>Register Akun</title>
{% endblock meta %}

 {% block content %}
 
 <div class="w-full flex justify-center">

     <div class = "register-container overflow-x-scroll w-[600px]  flex flex-col justify-center ">
         <h1 class="title-form text-center">Formulir Registrasi</h1>  
         
         
         <!-- <div class="w-[500px] h-full ">
             <div class="h-full overflow-x-scroll  "> -->
                 <form method="POST" >

                         {% csrf_token %} 
                         <!-- <div class="min-w-[600px] px-5  "> -->
                             <table>  
                                 {{ form.as_table }}  
                                </table>  
                            <!-- </div>  -->

                        <button class="primary-button bg-[#8f66dd] text-white  mx-auto " type="submit" >Daftar</button>
                    </form>
                    
                    
                </div>  
                
                
                
            </div>
                {% endblock content %}
