
{% extends 'base.html' %}

{% block meta %}
<title>Register Akun</title>
{% endblock meta %}

 {% block content %}
 

     <div class = "register-container  flex flex-col justify-center ">
         <h1 class="title-form text-center">Formulir Registrasi</h1>  
         
         
<!-- <div class="w-[500px] h-full ">
    <div class="h-full overflow-x-scroll  "> -->
        <form method="POST" >

                {% csrf_token %} 

                {{ form.as_div }}      

            <button class="primary-button bg-[#8f66dd] text-white mx-auto mt-4 " type="submit" >Daftar</button>
        </form>
        
        
    </div>  
                
            
{% endblock content %}
