{% extends 'base.html' %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock meta %}

 {% block content %} 

     <h1>Hello, {{ username }}</h1>
     
     <table class="styled-table">
         <thead> 
             <tr>
                 <th>Task</th>
                 <th>Description</th>
                 <th>Created at</th>
                 <th>Status</th>
                <th>Check</th>
                <th>Delete</th>
            </tr>
        </thead>
            
            
            
            {% for task in todolist  %}
            <tr>
                
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>
                    {% if task.is_finished %}
                    Closed
                    {% else %}
                    Open
                    {% endif %}
                </td>
                <td>
                    <input 
                    type="checkbox" 
                    name="checkbox"      
                    id='{{task.id}}' 
                     {% if task.is_finished %} checked {% endif %}
                     onchange="location.href=`{% url 'todolist:toggle_is_finished' task.id %}`"   />
                </td>
                
                <td><a href="{% url 'todolist:delete_task' task.id %}"><i style="font-size:24px;color:black " class="fa">&#xf014;</i></a></td>
            </tr>
            {% endfor %}
            
            
            {% if todolist.count == 0 %}
            <p>Kamu belum memiliki task!</p>
            {% endif %}   
            
        </table>
    <div class="button-container"> 
        
        <button><a href="{% url 'todolist:create_task' %}">Create task</a> </button>
        <button class="secondary-button"><a href="{% url 'todolist:logout_user' %}">Logout</a></button>
        
    </div>
{% endblock content %}
