{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 2 PBP</h1>

  <h5>Name: </h5>
  <p>{{ name }}</p>

  <h5>Student ID: </h5>
  <p>{{ student_id }}</p>

  <table class="styled-table">
    <thead>

      <tr>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item Stock</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Item Url</th>
      </tr>
    </thead>
    {% for katalog in list_katalog %}
    <tr>
      <td>{{ katalog.item_name }}</td>
      <td>{{ katalog.item_price }}</td>
      <td>{{ katalog.item_stock }}</td>
      <td>{{ katalog.rating }}</td>
      <td>{{ katalog.description }}</td>
      <td>{{ katalog.item_url }}</td>
    </tr>
      {% endfor %}
    {% comment %} Add the data below this line {% endcomment %}
  </table>

 {% endblock content %}
